<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script type="text/javascript" src="../node_modules/vue/dist/vue.js"></script>
</head>
<body>
	<div id="app">
		<label for=""><input type="checkbox" v-model="test" value="jvid"><span>jvid</span></label>
		<label for=""><input type="checkbox" v-model="test" value="jing"><span>jing</span></label>
		<label for=""><input type="checkbox" v-model="test" value="duo"><span>duo</span></label>
		<p>已经选择了{{ test }}</p>
	</div>
</body>
<script type="text/javascript">
	var vm = new Vue({
		el:"#app",
		data:{
			test:[]
		}
	})
</script>
</html>